<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test1">
    <classes>
      <class name="tests.FirstTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test2">
    <classes>
      <class name="tests.SecondTest"/>
    </classes>
   </test> <!-- Test -->
   <test name="Test3">
    <classes>
      <class name="tests.ThirdTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test4">
    <classes>
      <class name="tests.ForthTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test5">
    <classes>
      <class name="tests.FifthTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test6">
    <classes>
      <class name="tests.SixthTest"/>
    </classes>
  </test> <!-- Test -->  
  <test name="Test7">
    <classes>
      <class name="tests.SeventhTest"/>
    </classes>
   </test> <!-- Test -->  
</suite> <!-- Suite -->
